<nav>
  <div class="row" style="border-bottom: 1px solid #a1a1a1">


    <div class="col">
      <img
        src="../assets/logo.png"
        style="width: 230px; height: 47px; margin: 5px"
      />
    </div>

    <div class="col col-md-2 d-none d-sm-block d-md-none d-lg-block" style="margin: auto">
      <h5 style="text-align: right; margin: 0; font-weight: 500; font-size: 15px" class="">
        Carlos Gómez
      </h5>
      <h6 style="text-align: right; margin: 0; color: gray; font-size: 12px">
        Gerente de relación
      </h6>
    </div>
    <div class="col col-md-1 d-none d-sm-block d-md-none d-lg-block" style="margin: auto">
      <img
        src="../assets/persona.jpg"
        style="border-radius: 50px; height: 40px; width: 40px"
      />
    </div>

    <div class="col col-md-1 d-xl-none" style="margin: auto">
      <img
      src="../assets/menu.png"
      style="height: 20px; width: 20px"
    />
    </div>
  </div>
</nav>
